<div id="container">
  <div class="contact-container">
    <div>
      <h2 id="title">Contact Us</h2>
    </div>

    <div>
      <p><mat-icon>call</mat-icon> 123 456 789</p>
      <p><mat-icon>email</mat-icon> WoofVet&#64;email.com.au</p>
      <p><mat-icon> emergency </mat-icon> 987 654 321</p>
    </div>

    <div id="hours">
      <p>Open Hours:</p>
      <p>Mon - Thurs: 7:00AM - 9:00PM</p>
      <p>Fri - Saturday: 7:00AM - 11:00PM</p>
      <p>Sunday: 9:00AM - 5:00PM</p>
      <b>24 Hour Emergancy Services Available</b>
    </div>
  </div>

  <div class="visit-container">
    <h2 id="title">Visit Us</h2>
    <div id="map">
      <google-map height="350px" width="500px" [zoom]="16" [center]="mapCentre">
        <map-marker [position]="mapCentre"></map-marker
      ></google-map>
    </div>
    <p>
      <mat-icon>place</mat-icon> Corner of North Terrace and Frome Rd, Adelaide,
      5000
    </p>
  </div>
</div>
