<div>
  <h2>Our Services</h2>
</div>

<div>
  At Woof Wellness Center, we offer a wide range of services to keep your pets
  healthy and happy. Whether you have a dog, cat, suburban pets or farm animals,
  we're here to provide care.
</div>

<div>
  <ul>
    <p>Wellness Care:</p>
    <li>Annual check-ups</li>
    <li>Vaccinations</li>
    <li>Preventative Care</li>
    <li>Microchipping</li>
  </ul>

  <ul>
    <p>Medical Services:</p>
    <li>Diagnosis and treatment of illnesses</li>
    <li>Dental care</li>
    <li>Surgery</li>
  </ul>

  <ul>
    <p>Specialized Care:</p>
    <li>Dog specialist services</li>
    <li>Allergy testing</li>
    <li>Behavioral consultations</li>
  </ul>

  <ul>
    <p>Emergency Services:</p>
    <li>24/7 emergency care</li>
    <li>Critical care and hospitalization</li>
    <li>Urgent surgeries</li>
  </ul>
</div>

<div>
  <p>
    For further information about our services and pricing please
    <a [routerLink]="['/contact-us']" routerLinkActive="active-link"
      >Contact Us</a
    >.
  </p>
</div>
