<div id="footer-img">
  <img src="../../../../../assets/images/pets.png" />
</div>

<div class="info-footer">
  <div class="container-info">
    <div id="more-info">
      <p>More Information</p>
      <div id="about-link">
        <a [routerLink]="['/about-us']" routerLinkActive="active-link"
          >About Us</a
        >
      </div>
      <div id="contact-link">
        <a [routerLink]="['/contact-us']" routerLinkActive="active-link"
          >Contact Us</a
        >
      </div>
    </div>

    <div id="contact-info">
      <p>Contact Us</p>
      <p><mat-icon>place</mat-icon> address</p>
      <p><mat-icon>call</mat-icon> 123 456 789</p>
      <p><mat-icon>email</mat-icon> WoofVet@email.com.au</p>
      <p><mat-icon> emergency </mat-icon> 987 654 321</p>
    </div>

    <div id="visit-info">
      <p>Visit Us</p>
      <p>Mon - Thurs: 7:00AM - 9:00PM</p>
      <p>Fri - Saturday: 7:00AM - 11:00PM</p>
      <p>Sunday: 9:00AM - 5:00PM</p>
      <b>24 Hour Emergancy Services Available</b>
    </div>
  </div>
  <div id="footer">
    <footer>© Copyright 2023 All Rights Reserved Woof Wellness Center</footer>
  </div>
</div>
