<div>
  <header>
    <div class="nav-bar">
      <h1>Woof Wellness Center</h1>

      <nav>
        <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
        <a [routerLink]="['/about-us']" routerLinkActive="active-link"
          >About Us</a
        >
        <a [routerLink]="['/contact-us']" routerLinkActive="active-link"
          >Contact Us</a
        >
        <a [routerLink]="['/our-services']" routerLinkActive="active-link"
          >Our Services</a
        >
      </nav>

      <span id="spacer"></span>

      <button
        mat-icon-button
        id="btn"
        *ngIf="isLoggedIn"
        [matMenuTriggerFor]="notification"
      >
        <mat-icon id="icon">notifications</mat-icon>
        <ng-container *ngIf="notificationCount > 0">
          <mat-badge
            [matBadge]="notificationCount"
            matBadgeSize="small"
            matBadgePosition="above after"
            matBadgeColor="accent"
          ></mat-badge>
        </ng-container>
      </button>

      <div>
        <mat-menu #notification="matMenu">
          <ng-container *ngIf="notificationCount > 0; else noNotifications">
            <button
              mat-menu-item
              *ngFor="let invitation of invitations"
              (click)="showInvitationDetails(invitation)"
            >
              <span>You have an invitation</span>
            </button>
          </ng-container>
          <ng-template #noNotifications>
            <button mat-menu-item disabled>No notifications</button>
          </ng-template>
        </mat-menu>
      </div>

      <span id="btn-space"></span>

      <button mat-icon-button id="btn" [matMenuTriggerFor]="login">
        <mat-icon id="icon">person</mat-icon>
      </button>

      <div>
        <mat-menu #login="matMenu">
          <div class="container">
            <app-login></app-login>
          </div>
        </mat-menu>
      </div>

      <span id="btn-space"></span>

      <button mat-icon-button id="btn" [matMenuTriggerFor]="settings">
        <mat-icon id="icon">settings</mat-icon>
      </button>

      <div>
        <mat-menu #settings="matMenu">
          <div class="container">
            <p>Choose font size:</p>
            <mat-button-toggle-group name="fontSettings" id="buttonGroup">
              <mat-button-toggle
                (click)="fontSizeSettings('default')"
                matTooltip="Normal"
                >N</mat-button-toggle
              >
              <mat-button-toggle
                (click)="fontSizeSettings('large')"
                matTooltip="Large"
                >L</mat-button-toggle
              >
              <mat-button-toggle
                (click)="fontSizeSettings('extraLarge')"
                matTooltip="Extra Large"
                >XL</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </mat-menu>
      </div>

      <span id="btn-space"></span>
    </div>
  </header>
</div>
