<div id="intro">
  <p>Welcome to Woof Wellness Center! - Your Trusted Dog Specialists</p>
  <p>Supporting Local Families Since 2006</p>
</div>

<div id="background-info">
  <p>
    With over 25 years experience Dr. Benjamin Woofster and his dedicated team
    provide affordable care and support for your furry friends.
  </p>
  <p>Why choose Woof Wellness Center for your Pet's Health?</p>
  <ul>
    <li>We are committed to providing the highest standard of care.</li>
    <li>Treatment for all types of furry friends.</li>
    <li>
      With over a decade of expertise, we know how to keep your pets healthy and
      happy.
    </li>
    <li>
      Our clinic is equipped with the latest technology for accurate diagnostics
      and treatment.
    </li>
  </ul>
</div>

<div id="testimonials">
  <p>Client Testimonials:</p>
  <ul>
    <li>
      "I can't thank Woof Wellness Center enough for saving my dog's life. Dr.
      Woofster and his team worked tirelessly to ensure a successful recovery."
      - Jane S.
    </li>
    <li>
      "Dr. Pawsley's compassion and expertise with my cats are unparalleled. I
      trust her with my feline family members." - David M.
    </li>
    <li>
      "Dr. Pawsley's compassion and expertise with my cats are unparalleled. I
      trust her with my feline family members." - David M.
    </li>
    <li>
      "Dr. Tailsworth's knowledge of exotic pets is outstanding. Our lizard,
      Spike, is thriving thanks to his expertise." - Tom B.
    </li>
  </ul>
</div>
