#stepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-stepper-horizontal,
.mat-step-content {

    width: 60%;
    margin: 0 auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 80%;
}

mat-form-field {
    width: 80%;
}

mat-label {
    margin-bottom: 5px;
}

input,
mat-select {
    width: 100%;
}

#nav-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

#nav-button button {
    flex: 1;
    margin: 0 10px;
}

#registration-complete {

    text-align: center;
}






